# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar carpetas de compilación
dist/
build/

# Ignorar logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar sistemas operativos
.DS_Store
Thumbs.db
